body {
  .clearfix {
    &::after {
      display: table;
      clear: both;
      content: '';
    }
  }
  .top-background {
    background-image: url(../../images/top-background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}