@font-face {
  font-family: 'Helvetica_Light-Normal';
  src: url('../../../fonts/Helvetica_Light-Normal.eot');
  src: local('☺'), url('../../../fonts/Helvetica_Light-Normal.woff') format('woff'),
    url('../../../fonts/Helvetica_Light-Normal.ttf') format('truetype'),
    url('../../../fonts/Helvetica_Light-Normal.svg') format('svg');
}
